/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */
/*  */

.bg-white {
  background-color: #ffffff; 
}

ion-label {
  color: #000000; 
}

ion-input {
  --color: #000000; 
}

ion-button {
  --background: #5b23dc; 
  --color: #FFF;
}


/* .notes-note{
  max-height: 200px;
  overflow: hidden;
} */

a{
  text-decoration: none;
}

ion-back-button{
  --color: black;
}

ion-icon{
  --color: black;
  display: block;
}

ion-fab-button{
  --color: black;
}

textarea{
  background-color: #dfdfdf!important;
  padding: 20px;
}