/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */
/*  */

.bg-white {
  background-color: #ffffff; 
}

ion-label {
  color: #000000; 
}

ion-input {
  --color: #000000; 
}

ion-button {
  --color: #6e48c6; 
}